/* You can add global styles to this file, and also import other style files */
div.form-group label:first-child {
    color: black;
    font-weight: bold;
}
.required label:first-child:after {
    content:" *";
    color: red;
    display: inline;
  }

  #toast-container > div {
      opacity: 1;
  }